pre.programlisting {
	background:none repeat scroll 0 0 #F7F7F7;
	border:1px solid #D7D7D7;
	overflow:auto;
}

/* footer */

div.navfooter {
	border-top: 1px dotted #7B7B7B;
}

/* TAB STYLES */

ul.tabs {
    padding-left: 15px;
    background: transparent;
	margin-bottom: 0px !important;
}

ul.tabs li {
    padding: 5px 10px 0px 10px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin: 0px 5px;
	display: inline;
    background: #E0E0E0;
    border: 1px solid #C9C9C9;
}

ul.tabs li.active {
    background: white;
    border: 1px solid #C9C9C9;
    border-bottom-width: 0px;
	padding-bottom: 1px;
}

ul.tabs li a {
	text-decoration: none;
	color: black;
}

div.tab-body h4 {
	margin: 0px;
}

div.tab-body table {
	border-spacing: 0px;
}

/* Tables */

table.requestdetails, table.parameters, table.properties {
	border-spacing: 0px;
	margin-bottom: 15px;	
}

table.requestdetails td, table.parameters td, table.properties td {
	padding: 5px;
}

table.requestdetails tr:nth-child(odd), table.parameters tr:nth-child(odd), table.properties tr:nth-child(odd) {
	background: #E0E0E0;
}

table.requestdetails tr:nth-child(even), table.parameters tr:nth-child(even), table.properties tr:nth-child(even) {
	background: #FFF;
}

/* TOC styles */

div.toc dl dl {
	margin-left: 20px !important;
}

div.toc dl dt {
	font-weight: normal !important;
}

div.toc dl dd, div.toc dl dl {
	margin-bottom: 0px !important;
}

.biblioref {
	font-size: 0.6em;
	vertical-align: top;
}