body {
	background-color:#A7D4D4;
	font-family:Arial,sans-serif;
	margin:0;
	padding:0;	
}

div.navheader, div.navfooter, body > div.section, body > div.book, body > div.appendix, body > div.chapter, body > div.index {
	background-color:#FFFFFF;
	margin:0 auto;
	max-width:960px;
	padding:20px;
}

pre.programlisting {
	background:none repeat scroll 0 0 #F7F7F7;
	border:1px solid #D7D7D7;
	margin:1em 1.75em;
	overflow:auto;
	padding:0.25em;	
}

h1, h2, h3, h4, h5 {
	color: #0B7883;
}